/*
    General Rules
*/
@font-face {
    font-family: "Jozor";
    src: url('../fonts/JF-Flat-regular.eot');
    src: url('../fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/JF-Flat-regular.woff') format('woff'),
    url('../fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family:Jozor, Tahoma, Arial;
    background:#f4f4f4;
    font-size: 16px;
}
a, a:focus, a:hover, a:active{
    color:inherit;
    text-decoration: none;
}
i{
    margin-right:5px;
}
.btn + .btn {
    margin-left:5px;
}
/* LOGIN PAGE */

.login{
    margin-top:300px;
    margin-bottom:300px;
}
/*
    Members Page
*/
h1 {
    font-weight:bold;
    margin-top:40px;
    margin-bottom:65px;
    font-family: Tahoma;
    font-size: 60px;
}
header nav, footer nav{
    line-height: 50px;
}
.asterisk{
    position: absolute;
    right: 20px;
    top: 8px;
}
i.fa-eye, i.fa-eye-slash{
    cursor: pointer;
    position:absolute;
    right:40px;
    top:5px;
}
.members-table{
    background: #fff;
    box-shadow:0 3px 10px #000;
}
.members-table td {
    vertical-align: middle !important;
}
.members-table .btn, .items-table .btn {
    padding:0 3px;
}
/*
    Dashboard Page
*/
.stats{
    margin-bottom:20px;
}
.stats .stat{
    background:#ddd;
    padding:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:1px solid #aaa;
    font-size:16px;
    color:white;
}
.stats .stat span{
    font-size:40px;
}
.stats .row > div:first-of-type .stat{
    background-color: #3498db;
}
.stats .row > div:nth-of-type(2) .stat{
    background-color: #9b59b6
}
.stats .row > div:nth-of-type(3) .stat{
    background-color: #2ecc71
}
.stats .row > div:last-of-type .stat{
    background-color: #1abc9c
}
.panels .title{
    font-weight:bold;
    font-size: 20px ;
    margin-bottom:15px;
}
.panel .panel-body{
    padding-bottom:0;
}
.panel .user, .panel .item{
    margin-bottom:10px;
    line-height:32px;
    padding-top:5px;
    padding-bottom:5px;
}
.panel .user:nth-of-type(even), .panel .item:nth-of-type(even) {
    background:#ddd
}
.panel .user:last-of-type, .panel .item:last-of-type{
    margin-bottom: 0;
}
/*
    Categories Page
*/
.categories{
    position: relative;
}
.categories .new-cat{
    position:absolute;
    top:4px;
    right:225px;
    color:#fff;
    line-height:22px;
}
.categories .sort{
    position:absolute;
    top:0;
    right:130px;
    color:#fff;
    line-height:22px;
}
.categories .change-view{
    position:absolute;
    top:12px;
    right:30px;
    color:#fff;
    line-height:22px;
}
.categories .change-view span{
    display:inline-block;
}
.categories .change-view li{
    cursor: pointer;
}
.categories .change-view li:first-of-type{
    border-right:2px solid #fff;
}
.categories .change-view .active {
    color: darkblue;
    cursor:default;
}
.categories .sort span{
    display:inline-block;
}
.categories .sort a:first-of-type{
    float:right;
    margin-top:15px;
}
.categories .panel-body{
    padding:0;
}
.categories .cat{
    border-bottom:2px solid #337ab7;
    position:relative;
    overflow:hidden;
}
.categories .cat h2{
    background: #badcfc;
    margin:0;
    padding:10px;
    border-bottom:1px solid #337ab7;
    cursor: pointer;
}
.categories .cat p{
    margin-top:10px
}
.categories .cat:hover h2{
    background: #76bafc
}
.categories .cat .hidden-buttons{
    top:-40px;
    right:20px;
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.categories .cat:hover .hidden-buttons{
    top:8px;
}
.categories .cat p, .categories .cat span{
    padding:0 10px 5px 15px;
}
.categories.classic .cat:not(:first-of-type) .cat-info{
    display:none;
}
/*
    Redirect Page
*/
.redirect{
    margin:50px auto;
}
/*
    Items Page
*/
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
    height:46px;
    line-height:46px;
}
/*
    Comments Page
*/
.comment-form textarea {
    resize: none;
}
/*
    Bootstrap Edits
*/
.form-control{
    margin-bottom:10px;
    background:none;
    opacity:.9;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom-width:3px;
    position: relative;
}
.form-control:hover, .form-control:focus{
    background:none;
}
.navbar{
    margin: 0;
    border-radius: 0;
    border:none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #e74c3c;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    color:#fff;
    transition:all .5s ease-in-out;
    padding-left:25px;
}
.dropdown-menu{
    min-width: 180px;
}
.navbar-nav > li > .dropdown-menu{
    background-color: #262626;
}
.dropdown-menu > li > a {
    text-decoration: none;
    color: #f5f5f5;
    background-color: inherit;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover{
    background-color: #c0392b;
    color:#fff;
}
